@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Open+Sans&family=Roboto:wght@400;700&display=swap');

body, html{
    font-family: 'Roboto', sans-serif;
}

#header{
    width: 100%;
}

#header .navbar-collapse{
    display: flex;
    text-align: center;
}

.nav-item{
    font-weight: 500;
    font-size: large;
}

.d-flex{
    box-shadow: 5px black;
}

.navbar-brand{
    font-weight: 1000;
    font-size: 20px;
}

#main{
    border-top: 1px solid #e5e5e5;
}

.main-img{
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.texto-h{
    font-size: 18px;
}

.container-fluid {
    margin: center;
}

.main-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.texto-p{
    font-size: 18px
}

.texto-h{
    font-size: 64px;
    font-weight: 700;
}

.link-main{
    width: 200px;
    height: 50px;
    text-align: center;
    padding-top: 12px;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    background-color: black;
    color: white;
}

.link-main:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

#footer{
    background-color: black;
    color: white;

}

.row{
    padding-top: 50px;
}

.a-h1{
    text-decoration: none;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    color: white;
}

.a-h1:hover{
    color: #7e7e7e;
}

.a-p1{
    color: #7e7e7e;
    font-size: 12px;
    line-height: 2;
    text-decoration: none;
    box-sizing: border-box;
}

.a-p1:hover{
    color: white;
}
.row-d-p1{
    border-top: 1px solid #7e7e7e;
    padding-top: 15px;
}