@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Open+Sans&family=Roboto:wght@400;700&display=swap');


:root{
    --white: #FFF;
    --whitesmoke: #F9F9F9;
    --light-grey: #ECECEC;
    --grey: #C4C4C4;
    --medium-grey: #A7A7A7;
    --deep-grey: #343434;
    --black: #000000;
    --blue: #1B77F3;
    --red: #CF3C3F;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 100%;
    min-height: 100vh;
}
.main-title{
    padding: 32px 0 27px;
    font-size: 5px;
    line-height: 26px;
    font-weight: 1000;

}
.login-label{
    display: block;
    margin-bottom: 20px;
    width: 100%;
}
.input{
    width: 100%;
    background-color: var(--light-grey);
    border: 2px solid var(--black);
    border-radius: 5px;
    outline: none;
    font-size: 0.9em;
    padding: 25px 10px 10px;
    font-weight: 600;
    color: var(--deep-grey);
}

.login-label span{
    position: absolute;
    font-size: 0,8em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--medium-grey);
    cursor: text;
    margin: 20px;
    transition: all 200ms ease;
}

.login-label-checkbox{
    width: 100%;
    margin: 15px 0 50px;
    font-size: 0,9em;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-polite{
    color: #8d8d8d;
    font-size: 12px;
    padding: 3px 0 24px;
}

.login-button{
    background-color: var(--black);
    border: 1px solid var(--black);
    border-radius: 3px;
    font-size: 15px;
    margin: auto;
    text-decoration: none;
    color: var(--white);
}